
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand " routerLink="/">
            <span class="head text-danger">SB</span>
            <span class="text-success ">Textile Manufacturer & Supplier</span>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="nav justify-content-end">

            <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/login">Admin Login </a>
            </li>

        </ul>
      </div>
    </div>
  </nav>