<div class="bg-dark bg-gradient p-5 mt-5 ">
    <div class="container ">
        <div class="row">
            <div class="col-md-4">
                <p class="text-start text-white">© All rights reserved</p>

            </div>
            <div class="col-md-4">
                <p class="text-start text-white">SB Textiles is proudly committed to the values of technical
                    innovation,
                    environmental sustainability, employment creation and labour welfare.</p>
            </div>
            <div class="col-md-4">
               <p class="btn btn-primary" routerLink="/user/login">Admin Login</p>
            </div>
        </div>
    </div>

</div>